<div class="side-bar">
    <a (click)="toggleBar()" *ngIf="enableToggleButton"><img src="../../assets/icons/previous.png" class="icon-custom" alt="previous.png"></a>
    <a style="float: right;color: black;" routerLink="/"><img src="../../assets/icons/home.png" class="icon-custom" alt="home.png"></a>
    <br>
    <div class="side-bar-header">
        <h3>Welcome {{username}}!</h3>
    </div>
    <div>
        <app-routines-list [routineitems]="routineItemsList"></app-routines-list>
    </div>
    <br>
    <div>
        <app-rooms-list></app-rooms-list>
    </div>
</div>