.room-item{
    background-color: transparent;
    padding: 5px;
    /*border: 1px solid black; */
    border-radius: 5px;
}

.room-item:hover{
    background-color: #240090;
    color: white;
}

.activeRoom {
    background-color: #240090;
    color: white;
}