.room-item{
    background-color: #d1d7e0;
    padding: 5px;
    /*border: 1px solid black; */
    margin-bottom: 5px;
    border-radius: 5px;
}

.room-item:hover{
    background-color: #506d8d;
    color: white;
}

.active {
    background-color: #506d8d;
    color: white;
}