.routine-item {
    margin: 5px;
    height: 11vh;
    width: 11vh;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #240090;
    overflow: hidden;
}

.routine-item:hover{
    background-color: #3500D3;
    color: white;
}

@media (max-width: 768px) {  
    .routine-item {
        width: 12vh;
        height: 12vh;
    }
}