.routine-item {
    margin: 5px;
    height: 10vh;
    width: 10vh;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {  
    .routine-item {
        width: 15vh;
        height: 15vh;
    }
}