.row-main{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.nav-side-bar{
    background-color: #0C0032;
    display: inline-block;
    width: 20%;
    height:100vh;
    padding: 10px;
    min-height: fit-content;
    color: white;
}

.nav-middle-bar{
    background-color: #0C0032;
    height: 100vh;
    width: 55%;
    box-shadow: 1px 1px 10px 1px #190061 inset;
    color: white;
}

.nav-right-bar{
    right: 0px;
    width: 25%;
    display: inline-block;
    background-color: #0C0032;
    min-height: fit-content;
    padding: 10px;
}

.collapse {
    display: none;
}

@media (max-width: 768px) {  
    .nav-side-bar{
        width: 80%;
        position: fixed;
        box-shadow: 1px 10px 10px 1px #0C0032;
    }

    .nav-middle-bar{
        width: 100%;
        box-shadow: none;
    
    }

    .nav-right-bar{
        box-shadow: 1px 10px 10px 1px #0C0032;
    }

}