.row-main{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.nav-side-bar{
    background-color: #a3c0dd;
    display: inline-block;
    width: 20%;
    height:100vh;
    box-shadow: 1px 10px 10px 1px #506d8d;
    padding: 10px;
    min-height: fit-content;
}

.nav-middle-bar{
    background-color: #eaeaec;
    height: 100vh;
    width: 55%;
}

.nav-right-bar{
    right: 0px;
    width: 25%;
    display: inline-block;
    background-color: #d1d7e0;
    box-shadow: 1px 10px 10px 1px #506d8d;
    min-height: fit-content;
}

.collapse {
    display: none;
}

@media (max-width: 768px) {  
    .nav-side-bar{
        width: 80%;
        position: fixed;
        background-color: #a3c0dd;
    }

    .nav-middle-bar{
        width: 95%;
    }

    .nav-right-bar{
        background-color: #d1d7e0;
    }

}