:host {
    width: 100%;
}

.control-panel {
    width: 96%;
    margin: 2%;
}

.control-panel-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.room-title {
    margin: 2%;
    width: 96%;
    height: 20%;
    background-color: #506d8d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .control-panel-row {
        grid-template-columns: repeat(2, 1fr);
    }
}