.heading {
    margin: 2%;
    width: 96%;
    height: 20%;
    background-color: #3500D3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.device-form{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    display: block;
    box-shadow: 1px 1px 4px 1px black;
    background-color: #190061;
}

.device-form-input {
    width: 60%;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px black;
    background-color: black;
}

@media (max-width: 768px) {
    .device-form{
        width: 80%;
    }
    .device-form-input{
        width: 90%;
    }
}