.navbar {
    width: 100%;
    box-shadow: 1px 1px 5px 1px gray;
    padding: 10px;
    border-radius: 0px;
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;
    align-items: center;
}

.navbar-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}