<div class="device-item">
    <p>{{ deviceItem.name }} </p>
    <div style="display: inline-flex;">
        <img src="../../../../assets/device/{{deviceItem.type}}.png" alt="{{deviceItem.type}}.png" class="device-img">
        <div style="display: inline-block;width: 50%" >
            <a *ngIf="!deviceItem.value" (click)="toggleStatusOn()"><img src="../../../../assets/icons/switch-off.png" alt="switch-off.png" style="width: 50%;"></a>
            <a *ngIf="deviceItem.value" (click)="toggleStatusOff()"><img src="../../../../assets/icons/switch-on.png" alt="switch-on.png" style="width: 50%;"></a>
            <br>
            <a [routerLink]="['/adddevice',deviceItem.roomId,roomId]" [queryParams]="{deviceid:deviceItem.id,devicename:deviceItem.name,devicetype:deviceItem.type,edit:true,hubid:deviceItem.hubId,hubport:deviceItem.hubPort}"><img src="../../../../assets/icons/edit.png" alt="edit.png" class="icon-custom"></a>
            <a *ngIf="!deviceItem.isFavorite" (click)="starDevice()"><img src="../../../../assets/icons/unstar.png" alt="unstar.png" class="icon-custom"></a>
            <a *ngIf="deviceItem.isFavorite" (click)="unStarDevice()"><img src="../../../../assets/icons/star.png" alt="star.png" class="icon-custom"></a>
        </div>
</div>