.routine-list {
    display: inline-flex;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    justify-content: space-between;
}

.routine-list::-webkit-scrollbar {
    width: 8px; 
  }

  .routine-list::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  .routine-list::-webkit-scrollbar-track {
    background-color: transparent; 
  }
